<tr>
  <td><%= article.hashid %></td>
  <td>
    <%= link_to truncate(article.title, length: 30),
                article.url,
                'data-bs-toggle': 'tooltip',
                'data-bs-placement': 'bottom',
                'title': article.title %>
  </td>
  <td style="cursor: alias;">
    <span data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="<%= article.body %>">
      <%= truncate(article.body, length: 20) %>
    </span>
  </td>
  <td><%= t(article.source) %></td>
  <td><%= l(article.published_at, format: :short) if article.published_at %></td>
  <td><%= l(article.modified_at, format: :short) if article.modified_at %></td>
  <td></td>
</tr>
