<div class="my-3 p-3 bg-body rounded shadow">
  <%= search_form_for @q, url: articles_path do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <%= f.label t('title') %>
          <%= f.search_field :title_cont, class: 'form-control input-sm' %>
        </div>
        <div class="col-md-2">
          <%= f.label t('source') %>
          <div class="dropdown">
            <%= f.select :source_eq,
                         source_select_options,
                         { include_blank: t('all') },
                         { class: 'form-select input-sm dropdown-toggle' } %>
          </div>
        </div>
      </div>
    </div>
    <%= f.submit t('search'), class: 'btn btn-primary mt-3 submit' %>
  <% end %>
</div>
