<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article,
                    class: 'shadow p-3 mb-3 rounded form-bg',
                    local: true) do |f| %>
        <div class="form-group row">
          <%= f.label t('tag').pluralize, class: 'col-2 col-form-label text-light' %>
            <div class="col-10">
              <%= f.collection_select :tag_ids,
                                      Tag.all,
                                      :id,
                                      :name,
                                      { prompt: t('select_the_desired_tags') },
                                      { multiple: true,
                                        size: 10,
                                        class: 'form-select shadow rounded' } %>
            </div>
        </div>
        <div class="mt-4 mb-2 d-grid gap-2 col-2 mx-auto">
          <%= f.submit class: 'btn btn-outline-light' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
